/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

/* Reset and normalize */
@import url('./normalize.css');

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
}

.indent{
    width: 66vw;
    margin: auto;
    background-color: #ffffff;
    border: 0.1vw solid gray;
}

.upper-header{
    display: flex;
    align-items: center;
}

.upper-header img {
    width: 20vw;
}
.low-header{
    display: flex;
    padding: 1vw 0;
    margin-top: 2vw;
    margin-bottom: 1vw;
    justify-content: space-between;
}

.search-input {
    width: 12vw;
    border: 1px solid gray;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 0.8vw;
}

button.search {
    width: 5.5vw;
    background-color: #ffffff;
    color: #ff4b4b;
    border: 1px solid #ff4b4b;
    font-weight: 500;
    font-size: 0.9vw;
}

.search-input, .button.search {
    padding-left: 0.5vw;
    height: 2.2vw;
}

form {
    display: flex;
    gap: 1vw;
    margin-left: auto;
}


button.add-teacher {
    width: 8.5vw;
    height: 3vw;
    justify-content: right;
    background-color: #ffffff;
    border: 1px solid #f75c49;
    color: #f75c49;
    font-size: 1.2vw;
    font-weight: 500;
}

button.search:hover, button.add-teacher:hover {
    background-color: #f75c49;
    color: #ffffff;
}

hr{
    width: 25vw;
    margin: auto;
}

.page-nav{
    width: 35vw;
    display: flex;
}

.page-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2vw;
}

.page-nav a {
    text-decoration: none;
    color: #f75c49;
    font-weight: bold;
    font-size: 1.2vw;
}


.top-teachers {
    margin: 2vw;
}

.top-teachers h2, .statistics h2, .favourites h2{
    font-size: 1.8vw;
    font-weight: 250;
    color: #000000;
    margin-bottom: 1.5vw;
}

.filters {
    display: flex;
    justify-content: left;
    gap: 1rem;
    flex-wrap: wrap; 
    
}

.classification {
    margin: 0;
    gap: 0;
}

.filters label{
    color: #999999;
    font-size: 1vw;
    margin-right: 1vw;
    margin-top: 0.8vw;
} 

.filters select {
    padding: 0.6vw;
    border: 0.1vw solid #000000;
    background-color: #ffffff;
    font-size: 1vw;
}

.filters .classification:not(:first-child) {
    margin-left: 1vw; /
}

.teachers{
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    margin-top: 2vw;
}

.teacher-card {
    text-align: center;
    width: 10vw;
}

.teacher-card img, .favourites img {
    width: 8vw;
    height: 8vw;
    border: 0.3vw solid #f99589;
    border-radius: 50%;
}

.teacher-card img:hover, .favourites img:hover {
    border-color: #cc4836;
}

.teacher-card h3 {
    font-weight: 500;
    font-size: 1.2vw;
    margin: 0.8vw;
}

.teacher-card h4 {
    font-size: 0.9vw;
    padding: 0.5vw;
    color: gray;
}

.teacher-card h5 {
    font-size: 0.7vw;

}

.statistics, .favourites{
    margin: 2vw;
}


.statistics th, .statistics td {
    padding: 1vw;
    text-align: center;
}
.statistics th {
    border-bottom: 1vw #000000;
}

table{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1.1vw;
    border-collapse: collapse;
    table-layout: fixed;
}
#head-tr{
    border-bottom: 1px solid #222222;
}
th, td {
    border: none; 
    text-align: center;
}

td:first-child {
    text-align: left;
    padding-left: 1vw;
}

tbody tr:nth-child(even) {
    background-color: #faf5fb;
}

#table-nav {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    margin-left: 1em;
}

.table-nav ul {
    display: flex;
    gap: 0.5vw; 
    list-style: none; 
    margin-left: 0.6vw;
}

.table-nav li {
    display: flex;
}

.table-nav a {
    color: #333;
    padding: 1vw;
    font-size: 1.2vw;
}

.favourites .teachers{
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}

footer, header {
    margin: 2vw;
}
p {
    text-align: left;
    margin-block: 1vw;
    font-size: 1vw;
}

@media (max-width: 768px) {

    .upper-header img {
        width: 30vw;
    }


    .indent {
        width: 90vw;
        margin: auto;
    }
}

#teacher-popup  {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.teacher-info {
    width: 50vw;
    height: 30vw;
    background-color: white;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.img-cont {
    margin-left: 1vw;
    margin-top: 1vw;
}

.popup-header {
    margin: 0;
    font-size: 1.3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #464547;
    color: #ffff;
    justify-content: space-between;
}

header .close-popup {
    background-color: #464547;
    color: #ffff;
    border: none;
    font-size: 2vw;
    cursor: pointer;
}

.teacher-info img {
    float: left;
    margin-right: 1.5vw;
    width: 15vw;
    height: 15vw;
}

.teacher-info::after {
    content: "";
    display: table;
    clear: both;
}

.teacher-info h2 {
    font-size: 2vw;
    font-weight: 500;
    margin-top: 1vw;
    color: #222222;
    padding-bottom: 0;
}

.teacher-info h3 {
    font-size: 1.5vw;
    font-weight: 700;
    color: #222222;
}

.teacher-info p {
    font-size: 1vw;
    color: #222222;
}

.contact-info a {
    font-size: 1vw;
    color: #35a8b9;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.popup-bio {
    margin-top: 1vw;
    margin-right: 2.2vw;
    margin-left: 1vw;
}

.popup .teacher-info h2{
    margin-top: 0.5vw;
}

.info-and-star {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.star {
    font-size: 2vw;
    cursor: pointer;
    margin-right: 1.5vw;
    margin-top: 0.5vw;
}

.star::before {
    content: "\2606";
    color: gold;
}

.star.full::before {
    content: "\2605"; 
    color: gold;
}

.teacher-info .bio {
    clear: both;
    margin-top: 1vw;
}

.page-button {
    border: none;
    background-color: transparent;
    color: #1cb7d6;
    font-size: 1em;
    padding: 0.5em 0.8em;
    cursor: pointer;
    margin: 0 0.2em;
    transition: color 0.3s ease;
}

.page-button:hover {
    color: #1cb7d6;
    text-decoration: underline;
}

.page-button.active {
    font-weight: bold;
    color: #222222;

}

span {
    font-size: 1.2em;
    color: #1cb7d6;
    padding: 0.5em;
}
#close-popup{
    padding: 0;
}

#teach-add-popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-teacher-form {
    font-family: Roboto, sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
}

.wrapper {
    width: 30vw;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.add-teacher-label {
    font-size: 1.2vw;
    background-color: #464547;
    height: 3vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

#teacher-add-label a {
    background-color: #464547;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 1.5vw;
}

#addteacher-form {
    display: grid;
    padding: 1vw;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}

#addteacher-form label {
    text-align: left;
    display: block;
    font-size: 0.9vw;
    color: #555;
    margin-bottom: 0.3vw;
}

#addteacher-form input,
#addteacher-form select,
#addteacher-form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5vw;
    border: 1px solid #ccc;
    font-size: 0.9vw;
}

#addteacher-form select {
    background-color: white;
}


.name {
    grid-column: 1 / 3;
}

.speciality {
    grid-column: 1 / 3;
}

.country,
.city {
    grid-column: span 1;
}

.email,
.phone {
    grid-column: span 1;
}

.birthdate {
    grid-column: 1 / 2;
}

.sex,
.bgcolor {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9vw;
}

.sex input {
    margin-right: 0.5vw;
}

.sex-options {
    display: flex;
    align-items: center;
}

.bgcolor input {
    width: 4vw;
    height: 1.8vw;
}

.notes {
    grid-column: 1 / span 2;
}

#addteacher-form textarea {
    height: 3vw;
    resize: none;
}

.notes textarea {
    height: 6vw;
    resize: vertical;
}

#add-button {
    grid-column: 1 / span 2;
    width: 100%;
    padding: 0.8vw;
    background-color: white;
    border: 1px solid #f75c49;
    color: #f75c49;
    font-size: 1.2vw;
    cursor: pointer;
}

#add-button:hover {
    background-color: #f75c49;
    color: white;
}

#close-add-popup {
    background-color: transparent; /* Прозорий фон */
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close-add-popup:hover {
    color: #f75c49; /* Зміна кольору при наведенні */
}